h1 {
  color: purple;
  /*rgb 0-255 value*/
}

body  {

  background-color: blue
  /*name*/
}

p {
  color: black;
  /*hex*/
}

.fancy {
  color: white;
  font-family: 'Comic Sans'cursive;
}

#circle {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, .5);
  border-radius: 50%;
}

#circle:hover {
  background: rgba(255, 255, 0, .5);
}
